<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.ambitlu.uzs.mapper.UzsUserMapper">

    <select id="getUserByBizUserId" resultType="work.ambitlu.uzs.model.UzsUser">

        SELECT * FROM
            UZS_USERS U
            LEFT JOIN UZS_APP_CONNECT AC ON U.ID = AC.USER_ID
            WHERE AC.BIZ_USER_ID = #{bizUserId}

    </select>


</mapper>
